.nav {
  position: fixed;
  /* position 위치 고정 */
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  /* padding 박스크기 */
  box-sizing: border-box;
  /* 패딩을줘도 박스사이즈가 변경되지않게하는법 */
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  /* boder 위아래 선주는거 */
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  /* position: absolute; 을 허용해주는법 */
  color: #2e363e;
}

@keyframes notificationanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotatey(180deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  background-color: tomato;
  width: 23px;
  height: 23px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  /* 아이콘 겹치게하는법 */
  left: 18px;
  bottom: 18px;
  animation: notificationanimation 2s ease-in-out infinite;
}

.nav__notification2 {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  /* 아이콘 겹치게하는법 */
  left: 30px;
  bottom: 30px;
}

@keyframes appearbinanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translatey(50px);
  opacity: 0;
  animation: appearbinanimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
